/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
   --------------------------------------------- */

// Mixins:

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}
@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
     -moz-background-size: $background-size;
      -ms-background-size: $background-size;
       -o-background-size: $background-size;
          background-size: $background-size;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  	 -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}
@mixin transform($args...) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  // stops bg color from leaking outside the border.
}
@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}
// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}
// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}
// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}
// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
     -moz-box-ordinal-group: $val;     
  	     -ms-flex-order: $val;     
  	      -webkit-order: $val;  
  		      order: $val;
}
// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}
// Flex shrink
// - applies to: flex item shrink factor
// <number> 
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}
// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}
// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}
// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}
// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}
// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}

// Some basic measures:

$page-wrap-max-width: 1040px;
$div-horizontal-margin: 20px;
$paragraph-bottom-margin: 15px;

// Colors:

$color-green: #5d9a03;
$color-gray-dark: #575858;
$color-gray-light: #c9cbcb;

// Breakpoints for responsiveness:

$medium-body-max-width: 700px;
$small-body-max-width: 480px;

/* -------------------------------------
	GENERAL:
   ------------------------------------- */

body {
	background-color: #f0f0f0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* -------------------------------------------------
	MINHA COLEÇÃO DE DISCOS / MY RECORDS COLLECTION:
   ------------------------------------------------- */

main#minha-colecao-de-discos {
	@include flexbox();
	@include flex-wrap(wrap);
    max-width: $page-wrap-max-width;
    margin: 0 auto 40px;
	padding-left: 20px;
	padding-right: 20px;

	h1 {
		@include flex(1 1 100%);
		font-family: 'Libre Baskerville', serif;
		font-size: 3em;
		color: $color-green;
		text-align: center;
		margin: 40px 20px;	
	}

	div.intro,
	p.error {
		@include flex(1 1 100%);
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
		line-height: 24px;
		padding-bottom: 40px;
		text-align: center;
		a {
			color: black;
		}
	}

	div.intro {
		p {
			padding-bottom: 20px;
		}
	}
	
	#fallback {
		display: none;
	}

	// Control buttons:
	.control-button {
		font-family: inherit;
		font-size: 1em;
		line-height: 24px;
		background-color: $color-green;
		font-weight: 600;
		color: white;
		cursor: pointer;
		padding: 2px 10px;
		text-align: right;
		border: none;
		text-align: center;
	}

	// Navigation:
	#navigation {
		@include flex(0 0 190px);
		text-align: right;
		padding-right: 40px;
		font-family: 'Montserrat', sans-serif;

		// Navigation control button is only displayed on medium or small screens:
		.control-button {
			display: none;
		}
				
		// First level (features):
		> ul {
			font-size: 0.9em;
			list-style: none;
			> li {
				@include box-shadow(1px 1px 2px $color-gray-light);
				border: 1px solid $color-gray-light;
				padding: 10px;
				margin-bottom: 20px;

				// Second level (the options inside each feature):
				> ul {
					> li {
						margin: 10px 0;
						> button,
						> a > button {
							font-family: inherit;
							font-size: 1em;
							background-color: $color-gray-light;
							cursor: pointer;
							padding: 5px;
							width: 100%;
							text-align: right;
							border: none;
						}
						&.active {
							> button,
							> a > button {
								background-color: $color-green;
								font-weight: 600;
								color: white;
								margin: 0;
							}
							> ul.parameters {
								display: block;
							}
						}

						// Third level (options parameters):
						> ul.parameters {
							display: none;
							> li {
								display: inline-block;
								> button,
								> a > button {
									background-color: $color-gray-light;
									cursor: pointer;
									padding: 4px 5px;
									margin: 0;
									border: none;
									vertical-align: top;
								}
								&.active {
									> button,
									> a > button {
										background-color: $color-green;
										color: white;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	// The records:
	#records {
		
		// General definitions:
		@include flex(1);
		font-family: 'Montserrat', sans-serif;
		line-height: 18px;
		ul {
			li {
				list-style: none;
				a {
					color: black;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
					img {
						display: block;
					}
					.text {
						> *:not(:last-child) {
							padding-bottom: 7px;
						}
						.title {
							font-weight: bolder;
						}	
						.genres {
							font-style: italic;
						}
					}
				}
			}
		}
		
		// Table layout:
		ul.table {
			font-size: 0.9em;
			li {
				padding-bottom: 25px;
				&:not(:last-child) {
					margin-bottom: 25px;
					border-bottom: 1px solid $color-gray-light;
				}
				a {
					@include flexbox();
					@include align-items(center);
					.image {
						$image-width: 180px;
						min-width: $image-width;
						width: $image-width;
						img {
							width: 100%;
						}
					}
					.text {
						padding-left: 20px;
					}
				}
			}
		}
		
		// Mosaico layout:
		ul.mosaic {
			$distance-between-items: 20px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include align-items(flex-start);
			@include justify-content(space-around);
			font-size: 0.8em;
			margin-top: -$distance-between-items;
			li {
				@include flex(0 0 215px);
				@include box-shadow(1px 1px 2px $color-gray-light);
				margin: $distance-between-items;
				text-align: center;
				background-color: white;
				a {
					.image {
						img {
							width: 100%;
						}
					}
					.text {
						padding: 10px;
					}
				}
			}
		}
		// Pagination:
		#pagination {
			@include flexbox();
			@include justify-content(space-between);
			@include align-items(center);
			font-family: 'Montserrat', sans-serif;
			font-size: 0.9em;
			line-height: 18px;
			margin-top: 25px;
			padding-top: 20px;
			border-top: 1px solid $color-green;
			#pag_prev,
			#pag_next {
				visibility: hidden;
				display: inline-block;
				button {
					border: none;
					background-color: $color-green;
					color: white;
					cursor: pointer;
					font-size: 1.6em;
					padding: 1px 10px 3.5px;
				}
				&.active {
					visibility: visible;
				}
			}
			#pag_info {
				padding: 0 20px;	
				text-align: center;				
			}
		}
	}

	// Responsiveness:
	@media only screen and (max-width: $medium-body-max-width) {
		@include flex-direction(column);
		h1 {
			@include flex(1 1 auto);
			font-size: 2.7em;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		p.error,
		div.intro {
			@include flex(1 1 auto);
			padding-bottom: 20px;
		}
		#navigation {
			@include flex(1 1 auto);
			padding: 0 0 35px;
			text-align: center;
			.control-button {
				display: inline-block;
			}
			> ul {
				&.closed-for-medium-body {
					display: none;
				}
				> li {
					> ul {
						> li {
							> button,
							> a > button {
								text-align: center;
							}
						}
					}
				}
			}
		}
		#records {
			@include flex(1 1 auto);
		}
	}
	@media only screen and (max-width: $small-body-max-width) {
		h1 {
			font-size: 1.8em;
		}
		#records {
			ul.table {
				li {
					a {	
						@include flex-direction(column);
						@include align-items(flex-start);
						img {
						}
						.text {
							padding: 20px 0 0;
							text-align: left;
						}
					}
				}
			}
		}
	}

}

// Fallbacks for when the browser does not support flexbox:
.no-flexbox {
	main#minha-colecao-de-discos {	
		#navigation,
		#records {
				display: none;
		}
		#fallback {
			display: block;
		}
	}
}

/* -------------------------------------
	PAGE LOADING INDICATOR
	- https://github.com/vercel/next.js/tree/master/examples/with-loading
   ------------------------------------- */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $color-green;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: solid 3px transparent;
  border-top-color: $color-green;
  border-left-color: $color-green;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}